{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>StudeBook</title>
        {% include "main/meta.html" %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'css/shared.css' %}">
        <script src="{% static 'js/sidebar.js' %}"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <!-- CSRF_TOKEN -->
        <span style="display:none">{% csrf_token %}</span>
        <!-- Container -->
        <div class="container-fluid" id="container">
            <!-- Navigation -->
            {% include "main/nav.html" %}

            <div class="row">
                <!-- Left Sidebar -->
                {% include "main/left-sidebar.html" %}

                <!-- Content -->
                <div class="main col-md-8 col-md-offset-2">
                    {% block content %}
                    {% endblock %}
                </div>

                <!-- Right Sidebar -->
                {% include "main/right-sidebar.html" %}
            </div>

            <!-- Footer -->
            {% include "main/footer.html" %}
        </div>
    </body>
</html>
