<div class="navbar navbar-blue navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">StudeBook</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li class="dropdown">
                    <a href="/file" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-file"></span> Files <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/file"><span class="glyphicon glyphicon-file"></span> All files</a></li>
                        <li><a href="/file/categories"><span class="glyphicon glyphicon-list"></span> Categories</a></li>
                        <li><a href="/file/create"><span class="glyphicon glyphicon-upload"></span> Upload file</a></li>
                    </ul>
                </li>
                <li><a href="/book"><span class="glyphicon glyphicon-book"></span> Books</a></li>
                <li><a href="/page"><span class="glyphicon glyphicon-list-alt"></span> Pages</a></li>
                <li><a href="/event"><span class="glyphicon glyphicon-pushpin"></span> Events</a></li>
                <li><a href="/software"><span class="glyphicon glyphicon-download-alt"></span> Software</a></li>
                <li><a href="/internship"><span class="glyphicon glyphicon-briefcase"></span> Internships</a></li>
                <li><a href="/friends/search"><span class="glyphicon glyphicon-user"></span> People </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="/profile" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Profile <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
                        <li><a href="/authentication/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        <li class="divider"></li>
                        <li><a href="/friends"><span class="glyphicon glyphicon-user"></span> Friends</a></li>
                        <li><a href="/notifications"><span class="glyphicon glyphicon-asterisk"></span> Notifications</a></li>
                        <li><a href="/rating"><span class="glyphicon glyphicon-star"></span> Rating</a></li>
                        <li><a href="/credit"><span class="glyphicon glyphicon-euro"></span> Credits</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
