{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="StudeBook">
        <meta name="author" content="StudeBook">
        <title>StudeBook</title>

        <!-- Bootstrap: Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <!-- Bootstrap: Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- Bootstrap: Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <!-- StudeBook -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <script src="{% static 'js/jquery.cookie.js' %}"></script>
        <script src="{% static 'js/main.js' %}" type="text/javascript"></script>

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <!-- Container -->
        <div class="container-fluid">

            <!-- Header -->
            {% include "menu.html" %}

            <!-- Content -->
            <div class="container">
                <div class="jumbotron">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

            <!-- Footer -->
            {% include "footer.html" %}

        </div>
    </body>
</html>
