{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>StudeBook</title>

        <!-- Bootstrap: Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <!-- Bootstrap: Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- Bootstrap: Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <!-- StudeBook -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <script src="{% static 'js/jquery.cookie.js' %}"></script>
        <script src="{% static 'js/main.js' %}" type="text/javascript"></script>

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">StudeBook</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-file"></span> Files</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-book"></span> Books</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Pages</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-pushpin"></span> Events</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-download-alt"></span> Software</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-briefcase"></span> Internships</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-comment"></span> Chat</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Profile <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Edit Profile</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Friends</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-star"></span> Rating</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-euro"></span> Credits</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container">
            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron">
                {% block content %}
                {% endblock %}
            </div>
        </div> <!-- /container -->

    </body>
</html>
