{% extends "main/main.html" %}
{% load staticfiles %}

{% block head %}
<style>
.starRate {position:relative; margin:0px; overflow:hidden; zoom:1; z-index:99999;}
.starRate ul {width:160px; margin:0; padding:0;}
.starRate li {display:inline; list-style:none;}
.starRate a, .starRate b {background:url({% static 'img/star_rate.gif' %}) left top repeat-x;}
.starRate a {float:right; margin:0 80px 0 -144px; width:80px; height:16px; background-position:left 16px; color:#000; text-decoration:none;}
.starRate b {position:absolute; z-index:-1; width:80px; height:16px; background-position:left -16px;}
.starRate div b {left:0px; bottom:0px; background-position:left top;}
</style>
{% endblock %}

{% block content %}
	<h1>{{ title }}</h1>
	<h3>{{ category}}</h3>

	<table style="width: 100%;" class="table table-striped table-hover">
		<thead><tr><th>Name</th><th>Date</th><th>User</th><th>Rating</th></tr></thead>
		<tbody>
			{% for file in file_list %}
				<tr>
					<td><a href="/file/show/{{ file.file_id }}">{{ file.name }}</a></td>
					<td>{{ file.upload_date }}</td>
					<td>{{ file.user }}</td>
					<td>
						<div class="starRate" style="float: left;">
							<div>
								<b></b>
							</div>
							<ul>
								<li><a class="starRating">{% if file.rating = 5 %}<b></b>{% endif %}</a></li>
								<li><a class="starRating">{% if file.rating = 4 %}<b></b>{% endif %}</a></li>
								<li><a class="starRating">{% if file.rating = 3 %}<b></b>{% endif %}</a></li>
								<li><a class="starRating">{% if file.rating = 2 %}<b></b>{% endif %}</a></li>
								<li><a class="starRating">{% if file.rating = 1 %}<b></b>{% endif %}</a></li>
							</ul>
						</div> <span id="numberOfRatings">{{file.numberOfRatings}}</span> vote(s)
				</td></tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}