{% extends "main/main.html" %}
{% load staticfiles %}
{% block head %}


<style>
.starRate {position:relative; margin:0px; overflow:hidden; zoom:1;}
.starRate ul {width:160px; margin:0; padding:0;}
.starRate li {display:inline; list-style:none;}
.starRate a, .starRate b {background:url({% static 'img/star_rate.gif' %}) left top repeat-x;}
.starRate a {float:right; margin:0 80px 0 -144px; width:80px; height:16px; background-position:left 16px; color:#000; text-decoration:none;}
.starRate b {position:absolute; z-index:-1; width:80px; height:16px; background-position:left -16px;}
.starRate div b {left:0px; bottom:0px; background-position:left top;}
.starRate a span {position:absolute; left:-300px;}
</style>

{% if not ratedByUser %}
<script type="text/javascript" src="{% static 'js/file.js' %}"></script>
<style>
.starRate a:hover {background-position:left -32px;}
.starRate a:hover span {left:90px; width:100%;}
.starRating {
	cursor: pointer;
}
</style>
{% endif %}
{% endblock %}

{% block content %}
	<input type="hidden" id="fileId" value="{{ file.file_id }}" />
	<h1>{{ file.name }}</h1>

		<table>
			<tr><td style="width: 200px; font-weight: bold;">Uploaded by</td><td><a href="/profile/{{file.user.user_id }}/">{{ file.user }}</a></td></td></tr>
			<tr><td style="font-weight: bold;">Category</td><td><a href="/file/{{file.file_category.file_category_id }}/">{{ file.file_category }}</a></td></tr>
			<tr><td style="font-weight: bold;">Extension</td><td>{{ file.extension }}</td></tr>
			<tr><td style="font-weight: bold;">Date added</td><td>{{ file.upload_date }}</td></tr>
			<tr><td style="font-weight: bold;">Filesize</td><td>{{ file.size }} MB</td></tr>
			<tr><td style="font-weight: bold;">Price</td><td>{{ file.price }}</td></tr>
			<tr><td style="font-weight: bold;">Downloads</td><td>{{ numberOfDownloads }}x</td></tr>
			<tr><td style="font-weight: bold;">Rating{{ fileRatedByUser }}</td><td width="400">
<div class="starRate">
	<div>
		<b></b>
	</div>
	<ul>
	<li><a id="starRating5" class="starRating"><span>Give it 5 stars</span>{% if avgRating = 5 %}<b></b>{% endif %}</a></li>
	<li><a id="starRating4" class="starRating"><span>Give it 4 stars</span>{% if avgRating = 4 %}<b></b>{% endif %}</a></li>
	<li><a id="starRating3" class="starRating"><span>Give it 3 stars</span>{% if avgRating = 3 %}<b></b>{% endif %}</a></li>
	<li><a id="starRating2" class="starRating"><span>Give it 2 stars</span>{% if avgRating = 2 %}<b></b>{% endif %}</a></li>
	<li><a id="starRating1" class="starRating"><span>Give it 1 star</span>{% if avgRating = 1 %}<b></b>{% endif %}</a></li>
	</ul>
</div>

(<span id="numberOfRatings">{{numberOfRatings}}</span> votes, rating: <span id="averageRating">{{ avgRating }}</span>)
</td>
</tr>
</table>
<br />
<strong>Description:</strong>
<br />
{{ file.description|linebreaksbr }}
<br /><br />
<div class="col-md-14 col-margin-bottom" style="float: left;">
    <h4><a href="/file/download/{{ file.file_id }}" target="_blank" class="btn btn-warning"><span class="glyphicon glyphicon-download"></span> Download file</a></h4>
</div>

{% if file.user == user_login.user %}
    <div class="col-md-14 col-margin-top">
        <a href="/file/delete/{{ file.file_id }}" class="btn btn-danger pull-right m-l-10"><span class="glyphicon glyphicon-remove"></span> Delete</a>
        <a href="/file/update/{{ file.file_id }}" class="btn btn-primary pull-right m-l-10"><span class="glyphicon glyphicon-edit"></span> Edit</a>
    </div>
{% endif %}


{% endblock %}