{% extends "main.html" %}
{% block content %}
	<h1>{{ file.name }}</h1>

		<table>
			<tr><td style="width: 200px; font-weight: bold;">Uploaded by</td><td>{{ file.user }}</td></tr>
			<tr><td style="font-weight: bold;">Category</td><td>{{ file.file_category_id }}</td></tr>
			<tr><td style="font-weight: bold;">Description</td><td>{{ file.description }}</td></tr>
			<tr><td style="font-weight: bold;">Date</td><td>{{ file.upload_date }}</td></tr>
			<tr><td style="font-weight: bold;">Filesize</td><td>{{ file.size }} kB</td></tr>
			<tr><td style="font-weight: bold;">Download</td><td><a href="{{ file.path }}">{{ file.path }}</a></td></tr>
		</table>

{% endblock %}