html, body, #authentication {
    height : 100%;
}

#authentication {
    display        : table;
    margin 		   : 0 auto;
    vertical-align : middle;
}

#authentication .content {
    display        : table-cell;
    vertical-align : middle;
}

#authentication .content .inner {
	background : #eaeaea;
}

#authentication .content .inner header {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2a6496), color-stop(1, #428bca));
    border-bottom : 1px solid #2a6496;
    padding : 10px 50px;   
    color : #fff;
}

#authentication .content .inner>div {
	padding : 10px 20px;
}

div.button {
    height : 135px;
    width  : 135px;
    display : inline-block;
}


#authentication .button#facebookButton {
	background   : url('/static/img/authentication/fb_blur.png');
	margin-right : 10px;
}

#authentication .button#googleButton {
	background : url('/static/img/authentication/google_blur.png');
}

#authentication .button#facebookButton:hover {
	background : url('/static/img/authentication/fb_focus.png');
}

#authentication .button#googleButton:hover {
	background : url('/static/img/authentication/google_focus.png')	
}

#authentication .button a {
	display : inline-block;
	width   : 100%;
	height  : 100%;
	cursor  : pointer;
}