/***********************
*** USER FRIEND LIST ***
***********************/

#userFriendList {
}

#userFriendList li {
    background    : #ccc;
    border-bottom : 1px solid #ccc;
    border-top    : 1px solid #fff;
}

#userFriendList li a {
    color : #333;
}

#userFriendList li a.offline {
    background : url('/static/img/chat/offline.png') center right no-repeat;
}

#userFriendList li a.online {
    background : url('/static/img/chat/online.png') center right no-repeat;
}

/***********************
****** CHAT BOX ********
***********************/

body #footer div.container-fluid {
    position : relative;
}

body div.chatWrapper {
    width   : 400px;
    display : block;
    z-index : 10000;
    height  : auto;
}

body div.chatWrapper h3.header a.title {
    margin  : 10px 0;
    display : inline-block;
    cursor  : pointer;
    float   : left;
}

body div.chatWrapper h3.header a.btn {
    float : right;
}

body div.chatWrapper h3.header:after {
   content     : ".";
    display    : block;
    height     : 0;
    clear      : both;
    visibility : hidden;
}

body div.chatWrapper div.content div.chatContainer {
    max-height    : 200px;
    overflow-y    : scroll;
    margin-bottom : 10px;
}

body div.chatWrapper div.content div.chatContainer p {
    border     : #eee;
    overflow-x : hidden;
}

body div.chatWrapper div.content div.chatContainer p.me {
    text-align : right;
    color      : green;
}

body div.chatWrapper div.content input.chatBox {
    width : 100%;
}