/***********************
*** USER FRIEND LIST ***
***********************/

#userFriendList {
}

#userFriendList li {
    background : #ccc;
    border-bottom : 1px solid #ccc;
    border-top : 1px solid #fff;
}

#userFriendList li a {
    color : #333;
}

#userFriendList li a.offline {
    background : url('/static/img/chat/offline.png') center right no-repeat;
}

#userFriendList li a.online {
    background : url('/static/img/chat/online.png') center right no-repeat;
}

/***********************
****** CHAT BOX ********
***********************/

body div.popover {
    width    : 200px;
    display  : block;
    z-index  : 10000;
}

body div.popover h3 a.title {
    width   : 130px;
    display : inline-block;
    cursor  : pointer;
}