#notification {
}

#notification tr.head {
}

#notification tr.body {
}

#notification tr.body.disabled {
    display : none;
}

#notification tr.body.enabled {
}

#notification tr.body td {
    padding : 10px;
}

#notification tr.body td:hover {
    background : #fff;
}

#notification tr.body td span {
    display : block;
    margin  : 0 0 10px 0;
}