{% extends "main/main.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/notification.css" />
<script type="text/javascript" src="/static/js/notification/main.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="table-responsive">
        <table class="table" id="notification">
            <tr>
                <th>Requester</th>
                <th>Category</th>
                <th>Datetime</th>
                <th>Read</th>
            </tr>
            {% for notification in notification_list %}
            <tr class="head">
                <td><a href="#" class="notification {{ notification.getRead }}" rel="{{ notification.pk }}"><span>{{ notification.requester }}</span><span class="caret"></span></a></td>
                <td>{{ notification.category }}</td>
                <td>{{ notification.datetime }}</td>
                <td class="status">{{ notification.getRead }}</td>
            </tr>
            <tr class="body disabled notification-{{ notification.pk }}">
                <td colspan="4">{{ notification }} <br> <a href="{{ notification.goto_url }}">Click here!</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}