<!DOCTYPE html>
<html>
	<head>
		<title>{{request_uri}}</title>
        <!-- INCLUDE META DATA -->
        {% include "main/meta.html" %}
		<link rel="stylesheet" href="/static/css/authentication.css">
        <script src="/static/js/authentication/main.js" type="text/javascript"></script>
	</head>
	<body>
        <!-- CSRF_TOKEN -->
        <span style="display:none">{% csrf_token %}</span>
		<div id="authentication">
		    <div class="content">
		    	<div class="inner">
		    		<header><h1>{{ title }}</h1></header>
					<div>
						<h3>{{ message }}</h3>
						<h5>Logged in as {{ user_login.user }}</h5>
						<a href="#logout" name="logout" id="logout" class="btn btn-warning">Logout</a>
					</div>
				</div>
		    </div>
		</div>
	</body>
</html>